canvasapi
django==5.1
django-cors-headers==4.4.0
djangorestframework==3.15.2
fastapi[standard]
PyLTI1p3==2.0.0
celery==5.3.1
redis==5.0.0
pandas==2.2.3 
pydantic==2.10.4
psycopg[binary]
pgvector
pydantic==2.10.4
pycryptodome
python-dotenv==1.0.0
numpy<2.0
pyBKT
django-webpack-loader
uvicorn==0.33.0
fastapi
llama-cpp-python
huggingface_hub

gunicorn==21.2.0
black~=24.1.1
flake8~=7.0.0